#sign-in-with-email{
    max-width: 600px;
    margin: 2rem auto;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem 1rem;

}
#logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin: 1rem auto;
}
#sign-in-with-email h2{
    text-align: center;
}
#sign-in-with-email>div{
    border: 1px solid #6a00ff;
    border-radius: 0.5rem;
    padding: 1rem 0;
}
#sign-in-with-email>div>div{
    margin-bottom: 2rem;
}
#sign-in-with-email>div>div input{
    display: block;
    width: 92%;
    margin: auto;
    padding: 0.6rem 0.3rem;
    border-radius: 0.5rem;
    border: 1px solid #888;
}